body {
	padding:0px;
	border:0px;
	margin:0px;
}
.backgroundwrapper{
	height:100vh;
	width:100vw;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url(assets/pagebg.jpg);
}	
.contentwrapper{
	margin:auto;
	background:linear-gradient(#ff9, #ffc,#ff9);
	width:70vw;
	font-size:1.1em;
}
